body {
    background: #cccccc;
}
.titulo-principal{
    padding-left: 20px;
}
#banner {
    width: 100%;
}

.principal{
    background-color: rgb(18, 18, 54);
    padding: 30px;
}

.titulo-centralizado {
    text-align: center;
    color: rgb(196, 140, 56);
}

p {
    text-align: center;
    color: rgb(196, 140, 56);
    font-size: 22px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    color: rgb(196, 140, 56);
}

.item {
    font-style: italic;
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}

.imagembeneficios {
    width: 50%;
    
}
